<div class="container">
<agm-map *ngIf="showMap"  [latitude] = "latitude" [longitude] = "longitude" (mapClick) = "onChooseLocation($event)" >
<!-- <agm-marker [latitude] = "latitude" [longitude] = "longitude">
</agm-marker> (mapClick) = "onChooseLocation($event)"-->
<agm-marker *ngFor = "let job of jobs"  (markerClick)="openWindow(job)" 
 [latitude] = "job.location.coordinates[1]" [longitude] = "job.location.coordinates[0]">
</agm-marker>
</agm-map>
<div class="container" >

<router-outlet>

    </router-outlet>
</div>
<!-- <app-view-jobs>
    
</app-view-jobs> -->
</div>

