.example-card {
    /* max-width: 900px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .container {
    margin: 10px;
  }

  agm-map {
    height: 400px;
  }

  div.columns {
    float: left;
    margin-right: 70px;
  }
  span.field {

    font-weight: bold;
  }