.example-card {
    /* max-width: 900px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .container {
    margin: auto;
  }

  agm-map {
    height: 300px;
  }

  div.my_columns {
    float: left;
    margin-right: 50px;
  }
  span.my_field {

    font-weight: bold;
  }
