<mat-nav-list>
  <mat-list-item id="app-item" *ngFor="let app of apps">
    <!-- job_name: String
      , posted_date: Date
      , applied_date: Date
      , status: String
      , start_date: Date
      , end_date: -->
    <a matLine id="job-name" [routerLink]="['/view-job', app.job_id]" replaceUrl>{{ app.job_name }}</a>
    <p matLine>Posted Date: {{ app.posted_date | date : fullDate }}</p>
    <p matLine>Job Time: {{ app.start_date | date : fullDate}} - {{ app.end_date | date : longDate }} </p>
    <p matLine>Posted Date: {{ app.posted_date | date : fullDate }}</p>
    <!-- <p matLine>Status: {{ app.status }}</p> -->
    <ul class="step">
      <!-- <li class="step-item" ng-class="{ active: (app.status == 'pending') }"> -->
          <li class="step-item">
              <a  class="tooltip" data-tooltip="Step 0: Post">Status: Post</a>
            </li>
      <li class="step-item" [ngClass]="{ 'active': app.status == 'Pending' }">
        <a  class="tooltip" data-tooltip="Step 1: Pending">Status: Pending</a>
      </li>
      <li class="step-item" [ngClass]="{ 'active': app.status == 'Accept' }">
        <a  class="tooltip" data-tooltip="Step 2: Accept">Status: Accept</a>
      </li>
      <li class="step-item" [ngClass]="{ 'active': app.status == 'Done' }">
        <a class="tooltip" data-tooltip="Step 3: Done">Status: Done</a>
      </li>
    </ul>

  </mat-list-item>
</mat-nav-list>