<main-menu>

</main-menu>
<div class="modal" id="modal-id" [ngClass]="{ 'active': showManagement }">
    <a (click)="onClose()" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a (click)="onClose()" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Manage Job</div>
        </div>
        <div class="modal-body">
            
            <!-- <app-manage-job></app-manage-job> -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            <a class="btn btn-link" aria-label="Close" (click)="onClose()">Close</a>

        </div>
    </div>
</div>