table {
    width: 100%;
  }

  #application-badge {
    margin-right: 20px;
  }

  #application-badge.bage {
    /* margin-top: 10px; */
    margin-top: .3rem
  }

  #btn-manage {
    margin-right: 20px;
    margin-left: 20px;
  }


  .example-form-field {
    width: 200px;
  }

  div.search {
      margin: 20px;
      padding: 10px;
      text-align: center;
  }